<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CSS Ribbon</title>
    <link rel=stylesheet href="{{=URL('todo', 'static', 'css/ribbon.css')}}">
</head>
<body>
<div id="container">
    <div class="bubble">
    <div class="info">
        <h2>Taskboard</h2>

        <div id="content">
            {{if response.flash:}}
             <div class="error">{{=response.flash or ''}}</div>
            {{pass}}
            {{=form.custom.begin}}
            <table class="login" style="margin-left: auto; margin-right: auto;">
                <tbody><tr>
                        <td><p class="mtop0 mbottom025"><strong><label for="email">Email</label></strong></p>
                        {{=form.custom.widget.email}}
                        </td>
                </tr>
                <tr>
                    <td><p class="mtop05 mbottom025"><strong><label for="password">Password</label></strong></p>
                        {{=form.custom.widget.password}} 
                    </td>
                    </tr>
                <tr>
                    <td><p style="padding-top: 0;">
                            <input type="checkbox" name="remember" id="auth_user_remember" tabindex="3"> 
                            <label for="auth_user_remember">Remember me</label></p></td>
                        </p></td>
                </tr>
                <tr>
                    <td style="padding-top: 3px;"><input class="bprimarypub80" type="submit" tabindex="4" value="Login"></td>
                </tr>
            </tbody></table>
            {{=form.custom.end}}
        </form>
        <p class="forget_password"><a href={{=URL('todo', 'default', 'request_reset_password')}}>Forgot password?</a></p>
        </div>
    </div>

    <div class="menu">
        <ul>
            <!--<li class="l2"><a href="{{=URL('todo', 'default', 'request_reset_password')}}">forget passward?</a></li>-->
            <li class="signup"><a href="{{=URL('register')}}">Sign Up!</a></li>
        </ul>
    </div>
    </div>
</div>

</body>
</html>
