{{extend 'layout.html'}}
{{=form.custom.begin}} 
<table class="signup">
    <tbody>
            <tr>
                <th>Email:</th> 
                <td>{{=form.custom.widget.email}} </td>
            </tr>
    </tbody></table>
    <table class="signup" style="width: 100%;">
        <tbody>
        <tr>
            <td class="separator" colspan="2"><div></div></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input class="bprimarypub80 mtop1" type="submit" value="Submit">
            </td>
        </tr>
        </tbody>
    </table>
{{=form.custom.end}}	
