{{extend 'layout.html'}}
{{=form.custom.begin}} 
<table class="signup">
    <div class="col1">
        <h2 id="section-title">{{=title}}</h2>
    </div>
    <tbody>
             <tr>
                <th>Password:</th> 
                <td>{{=form.custom.widget.new_password}} </td>
            </tr>
            <tr>
                <th>Verify password:</th> 
                <td>{{=form.custom.widget.new_password2}} </td>
            </tr>
    </tbody></table>
    <table class="signup" style="width: 100%;">
        <tbody>
        <tr>
            <td class="separator" colspan="2"><div></div></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input class="bprimarypub80 mtop1" type="submit" value="Submit">
            </td>
        </tr>
        </tbody>
    </table>
{{=form.custom.end}}	
