<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>User - Login</title>
        <link rel="stylesheet" type="text/css" href="{{=URL('todo', 'static/css', 'main.css')}}">
    </head>
    <body class="small login">
        <div id="wrapper">
            <div id="header" class="center">
                <h1>
                    <a href="{{=URL('todo', 'default', 'index' )}}"></a>
                </h1>
            </div>
            {{if request.args(0)=='login' and auth.user is None:}}
            <div id="topcorners">
                <div class="cleft"></div>
                <div class="cright"></div>
            </div>
            <div id="content">
                {{if response.flash:}}
                 <div class="error">{{=response.flash or ''}}</div>
                {{pass}}
                {{=form.custom.begin}}
                <table class="login" style="margin-left: auto; margin-right: auto;">
                    <tbody><tr>
                        <td><p class="mtop0 mbottom025"><strong><label for="email">Email</label></strong></p><input id="email" tabindex="1" class="inputtext" type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td><p class="mtop05 mbottom025"><strong><label for="password">Password</label></strong></p><input tabindex="2" class="inputtext" type="password" name="password" id="password"></td>
						</tr>
                    <tr>
                        <td>
                            <p class="mtop025 mbottom0"><a href={{=URL('todo', 'default', 'request_reset_password')}}>Forgot password?</a>
                            <span style="padding: 0 3px;">|</span><a href="{{=URL('register')}}">Sign up!</a>
                        </p></td> 
                    </tr>
                    <tr>
                        <td><p class="mtop025 mbottom0">
                                <input type="checkbox" name="remember" id="auth_user_remember" tabindex="3"> 
                                <label for="auth_user_remember">Remember me</label></p></td>
                            </p></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;"><input class="bprimarypub80" type="submit" tabindex="4" value="Login"></td>
                    </tr>
                </tbody></table>
            {{=form.custom.end}}
            </form>
        </div>
            <div id="bottomcorners">
                <div class="cleft"></div>
                <div class="cright"></div>
            </div>
            {{pass}}
        </div>
    	<div id="footer">
            <p>
                <a href="{{=URL('index')}}">Home</a> <span>|</span>
                <a href="https://mail.google.com/mail/?extsrc=mailto&url=mailto%3Ataskboard@hazy.me" target="_blank" rel="noreferrer">Contact Us</a>
            </p>
            <p>Copyright © 2011 Taskboard All rights reserved.</p> 
        </div>
    </body>
</html>
