<!doctype html>
<!-- in html5 <html>, <head>, <body> are optional, so let's save some bytes :) -->

<!-- head -->
<meta charset=utf-8>
<title>Taskboard 10k</title>
<link rel=stylesheet href="{{=URL('todo', 'static', 'css/s.css')}}">

<!-- body -->
<!-- real content is dynamically generated -->
<footer>
<p>
    Taskboard 10k by <a href=http://twitter.com/bartaz>@bartaz</a>.
    Inspired by <a href=http://taskboard.cognifide.com>Cognifide's Taskboard</a>.
    Modified by <a href=http://twitter.com/freefeb>Flynn Wang</a>.
    Icons from <a href=http://p.yusukekamiyamane.com>Fugue Icon set</a>.
</p>
</footer>

<!-- behaviour -->
<!-- <script src={{=URL('todo', 'static/js', 'SlimConsoleDummy.min.js')}}></script> -->
<script src={{=URL('todo', 'static/js', 'jquery.js')}}></script>
<script src={{=URL('todo', 'static/js', 'math.uuid.js')}}></script>
<script src={{=URL('todo', 'static/js', 's.js')}}></script>
