<meta charset=utf-8>
<title>Taskboard 10k</title>
<link rel=stylesheet href="{{=URL('todo', 'static', 'css/s.css')}}">
<div id="user-panel">
<p>
welcome, {{="%s %s" % (auth.user.first_name, auth.user.last_name)}} | <a href={{=URL('todo', 'default', 'user/logout')}}>Logout</a>
<p>
</div>

<footer>
<p>
    Taskboard 10k by <a href=http://twitter.com/bartaz>@bartaz</a>.
    Inspired by <a href=http://taskboard.cognifide.com>Cognifide's Taskboard</a>.
    Modified by <a href=https://github.com/FlynnWang>Flynn Wang</a>.
    Icons from <a href=http://p.yusukekamiyamane.com>Fugue Icon set</a>.
</p>
</footer>
<script src={{=URL('todo', 'static/js', 'jquery.js')}}></script>
<script src={{=URL('todo', 'static/js', 'math.uuid.js')}}></script>
<script src={{=URL('todo', 'static/js', 's.js')}}></script>
